// Font
$mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;
$headersFont             : 'Quicksand', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 14px;
$mainFontWeight          : 400;
$mainLineHeight          : 171%;

$maxWidth                : 1440px;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #ffffff;
$primary-color           : #2B2B2B;
$second-color            : #d51522;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$green-color             : #6fcf97;
$blue-color              : #66D2EA;
$purple-color            : #bc9eff;
$purple-color--50        : #bc9eff80;
$purple2-color           : #8ba3f9;
$backgroundColor         : #ffffff;
$backgroundColor--50     : #ffffff80;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;

//Gradiens
